.payment {
  width: 10%;
  display: inline;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
}

h2 {
  padding-bottom: 1rem;
}
