main {
  justify-content: centers;
}
/* log in form*/

.login-form {
  background-color: #fff;
  align-items: center;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30rem;
}
.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="emails"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
/* Checkbox styling  on log in page*/
.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-check input {
  margin-right: 0.5rem;
}

/* Button styling */
.login-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: rgb(86, 98, 70);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(164, 194, 165);
}

/*link styling for both create account and log in*/
.login-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: rgb(86, 98, 70);
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.change {
  text-align: center;
  margin-top: 1rem;
}

/* create account from*/
.createaccount-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30rem;
}
/* Button styling */
.createaccount-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: rgb(86, 98, 70);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(164, 194, 165);
}
/*  https://chatgpt.com/share/67b473ae-a644-8001-8302-5b8fe34375e1 */
