nav {
  display: flex;

  gap: 2rem;
}
ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  padding-left: 200px;
}

.logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: -15px;
  left: 10px;
}
