nav {
  display: flex;
  background-color: #d8dad3;
  gap: 2rem;
  margin: 0;
  font-family: sans-serif;
}
ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  padding-top: 10px;
  padding-left: 200px;
}

.logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: -10px;
  left: 10px;
}
.cartheart {
  width: 30px;
}

a {
  text-decoration: none;
  color: black;
  flex: none;
}
.feature-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200%;
  margin: auto;
  padding-left: 140px;
}

.feature {
  width: 70%;
  height: 400px;
  object-fit: cover;
  padding-top: 30px;
}

body {
  background-color: #f1f2eb;
}
footer {
  background-color: #d8dad3;
}
