.shoes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

figure {
  padding-bottom: 2rem;
}

figcaption {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 900px) {
  .shoes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .shoes-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
